

  <div class="col-sm-2 col-md-4">

    <%= link_to product_path(product) do %>
        <% if product.image_url.present? %>
      <%= image_tag(product.image_url, class: 'image-responsive') %>
    <% end %>

      <header>
        <h5><%= product.name %></h5>
     </header>
    <% end %>

  <p><%= product.description %></p><br>
  <strong> $ <%= product.price %></strong>
</div><!-- /col -->
<% end %>
