<p id="notice"><%= notice %></p>

  <h1>Products</h1>

    <%= will_paginate @products %>

    <% cache(cache_key_for_products) do %>
        <%= render @product %>
      <% end %>


  <%= will_paginate @products %>

  <br>


  <%= link_to 'New Product', new_product_path %>



<!--<div class="row">
  <% cache(cache_key_for_products) do %>
    <%= render @products %>
  <% end %>
</div>

<br>

<%= link_to 'New Product', new_product_path %>

<br>
<%= link_to 'Back', products_path %>-->
