<p id="notice"><%= notice %></p>

<h1 id="headline">Products</h1>

<%= will_paginate @products %>

    <div class="row">
    <%= render @products %>
  </div>

<br>

<%= will_paginate @products %>

<br>

<%= link_to 'New Product', new_product_path %>



<!--<%= link_to 'Back', products_path %>-->
