<!DOCTYPE html>
<html lang="en">
<head>

  <title>BikeCologne</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body class="bg-grey-lighter">
    <!--NAVIGATION-->
  <nav class="navbar navbar-expand-lg navbar-fix-top navbar-light bg-dark">
    <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <!--<a class="navbar-brand" href="#">BikeCologne</a>-->
      <%= link_to "BikeCologne", simple_pages_index_path, id: "home-link", class: "navbar-brand" %>
    </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Home", simple_pages_index_path%></li>
      <li><%= link_to "About", simple_pages_about_path%></li>
      <li><%= link_to "Contact", simple_pages_contact_path%></li>
      <li><%= link_to "Products", products_path%></li>
  </ul>

    <!-- login/logout button -->
        <ul class="nav navbar-nav pull-right">
          <li>
            <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            <% else %>
              <%= link_to('Login', new_user_session_path) %>
            <% end %>
          </li>
        </ul><!-- end of login/logout button -->

    <!--SEARCH BOX-->
    <div id="search-form">
    <%= form_with(url: products_path, method: 'get', class:'navbar-form navbar-right', local: true) do |form| %>
      <%= form.label :q, 'Search for:', class:'hidden' %>
      <%= form.text_field :q, id: 'q', value: params[:q] %>
      <%= form.submit 'Search' %>
    <% end %>
  </div>

  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<!-- flash notice tags -->
    <% if notice %>
        <p id="notice" class="alert alert-info"><%= notice %></p>
      <% end %>

    <% if alert %>
      <p id="alert" class="alert alert-info"><%= alert %></p>
    <% end %> <!-- end flash notice tags -->



  <div class="page-wrap">
    <%= yield %>
  </div>

    <footer class="container-fluid" id="site-footer">
      &copy; 2018 BikeCologne
    </footer>

  </body>
</html>
